* {
 box-sizing: border-box;
}

.container {
 margin: 250px auto;
 height: 550px;
 width: 750px;
 border: 1px solid gray;
 border-radius: 15px;
 background: #E0EAFC;
 /* fallback for old browsers */
 background: #8e9eab;
 /* fallback for old browsers */
 background: -webkit-linear-gradient(to right, #eef2f3, #8e9eab);
 /* Chrome 10-25, Safari 5.1-6 */
 background: linear-gradient(to right, #eef2f3, #8e9eab);
 /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#sign {
 height: 550px;
 border-radius: 15px;
 width: 0;
 z-index: 1;
 background-color: beige;
 transition: 0.5s;
 padding-top: 60px;
 float: right;
 overflow-x: hidden;
}

#but {
 width: 100px;
 height: 50px;
 border-radius: 10px;
 outline: none;
 float: left;
}

.fas {
 color: red;
}

h2 {
 transition: 0.3s;
 display: block;
}